<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
<div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs-inner">
          <div class="breadcrumbs-title">
            <h1>IT STAFFING</h1>
          </div>
          <div class="breadcrumbs-menu">
            <ul class="list-inline">
              <li><a href="index.html">Home /</a></li>
              <li>IT Staffing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="cta-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="col-inner">
          <div class="code-review">
            <p>Have a project in mind? We would love to hear from you! </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <div class="col-inner">
          <div class="action-btn offspace-10 pull-right">
            <a class="flat-button" routerLink="/contact-us" routerLinkActive="active">Get in touch with us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="quality-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        <div class="title-head">
          <h2>OUR SKILL NETWORK</h2>
        </div>
        <p>Our IT staffing solutions help you secure and optimize the most strategic and variable component to success—your people.</p>
        <p class="hidden-sm">We begin our partnership by seeking to understand your business targets and the gaps between your current and future state. We then build a workforce staffing strategy to close those gaps with the right people, skills and competencies, when and where you need them.</p>
        <!--<div class="quality-detail">
            <h2 class="q-name">remon D,cruz</h2>
            <h4 class="q-post">CEO OF COMPANY</h4>
        </div>-->
      </div>
      <div class="col-md-5 col-lg-offset-1 col-lg-4 col-sm-6 col-xs-12">
        <div class="quality-content">
          <div class="quality-img">
            <img src="assets/images/services.png" alt="quality-image" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tv-white-bg service-area">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="m-text-head text-center">
                <h2 class="m-text-title">IT Staffing Solutions</h2>
                <p>Businesses are challenged with staying ahead of the latest trends and competitive developments while also building a responsive and agile IT capability to support growth. Technology alone does not offer a competitive advantage. Differentiation depends on how technology is applied—namely who does it and how effective they are.</p>
            </div>
        </div>
    </div>
  </div>
</section>

